html
  head
    title='GenShin Impact Card Tool'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css')
    link(rel="stylesheet" ,href="https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-webfont/1.7.0/style.css") 
    link(rel='stylesheet', href='style.css')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KMMF9FTYBX');

      function _evt_push(type, category, label){
        gtag('event', type, {
          'event_category' : category,
          'event_label' : label
        });
      }

  body
    h3 Usage:

    h5 SVG Url
    code /{Background No.}/{HoYoLab UID}.png

    h5 Img Tag
    code &lt;img src="/{Background No.}/{HoYoLab UID}.png" alt="genshin-card" />

    h5 BBCode
    code [img]/{Background No.}/{HoYoLab UID}.png[/img]

    h5 Markdown
    code ![](/{Background No.}/{HoYoLab UID}.png)

    h3 Background No.
    h5 <code>rand</code> Random Background 
    h5 Specify random range
    pre.
      2,5,9 -> [2, 5, 9]
      3-5 -> [3, 4, 5]
      3-5,7,9,12-15 -> [3, 4, 5, 7, 9, 12, 13, 14, 15]

    h3 Example:
    img(src="/en/rand/164516131.png" alt="Example Picture")
    img(src="/cn/rand/164516131.png" alt="Example Picture"  style='margin-top:15px;')
    h3 Tool
    .tool
      code /
      select#lang(style='display: inline-block; min-width: 60px; width:100px;height:30px;margin: 0 4px; vertical-align: middle; text-align:center;font-size:14px;padding:0px; ')
        option(value="en",selected) English 
        option(value="cn") Chinese 
      code /
      input#bgIdx(type='text', value='0', style='display: inline-block; min-width: 60px; width:60px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle; text-align:center; ')
      code /
      input#uid(type='text', placeholder='HoYoLab UID', style='display: inline-block; width: 130px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle;')
      code .png
      button#get(style='margin: 10px 0;', onclick='_evt_push("click", "normal", "get_card")') Get
      img#result(style='display: block;')

      script.
        var btn = document.getElementById('get'),
            img = document.getElementById('result')

        btn.addEventListener('click', function() {
          var bgIdxEl = document.getElementById('bgIdx'),
              uidEl = document.getElementById('uid')
          var bgIdx = bgIdxEl.value ? bgIdxEl.value.trim() : ''
          var uid = uidEl.value ? uidEl.value.trim() : ''
          if(!uid) {
            alert('Please enter UID')
            return
          }

          img.src = '/' + bgIdx + '/' + uid + '.png'
        })

    script.
      document.addEventListener("DOMContentLoaded", function() {
        var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
      
        if ("IntersectionObserver" in window) {
          let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
              if (entry.isIntersecting) {
                let lazyImage = entry.target;
                lazyImage.src = lazyImage.dataset.src;
                lazyImage.classList.remove("lazy");
                lazyImageObserver.unobserve(lazyImage);
              }
            });
          });
      
          lazyImages.forEach(function(lazyImage) {
            lazyImageObserver.observe(lazyImage);
          });
        } else {
          // Possibly fall back to event handlers here
        }
      });